.landing-container {
    text-align: center;
    background-color: #f9f9f9;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-900);
}

.landing-container h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: #fff;
}

.landing-container p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #b8b8b8;
}

.btn-start {
    font-size: 1.2rem;
    padding: 10px 20px;
    background-color: #0078d7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-start:hover {
    background-color: #005bb5;
}

img{
    height: 600px;
    color: wheat;
}

.welcome{
    margin-bottom: 7rem;
}

@media (max-width: 600px) {

    img {
        height: 400px;
        color: wheat;
}

}