
.birthDeck{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.birthCard{
    position: relative;
    width: 200px;
    height: 200px;
    padding: 1rem;
    margin: 1.5rem;
    border: 3px solid black;
    margin-bottom: 1rem;
    border-radius: 10%;
}

.birthCard-delete{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#delete{
    background-color: transparent;
    border: none;
}

#delete img{
    height: 30px;
    cursor: pointer;
    margin-right: 3px;
}

.birthCard-name{
    margin-right: 1rem;
}


.birthCardCountdown{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.daysContainer, .hoursContainer, .minutesContainer, .secondsContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.1);
        border: 4px solid rgba(255, 255, 255, 0.3);
        width: 50px;
        height: 50px;
        border-radius: 99PX;
}

.days, .hours, .minutes, .seconds{
    text-transform: uppercase;
    font-size: 1.5em;
}

.daysLabel, .hoursLabel, .minutesLabel, .secondsLabel{
    font-size: 0.5em;

}