.date-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    margin: 0 0 0.5rem 0;
    gap: 1rem;
}

.filter-input{
    margin-bottom: .6rem
}

.title-filter{
    margin: 0;
    font-size: 1.5rem;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.inputFilter{
    background: transparent;
    border: transparent;
    border-bottom: 1px solid grey;
    color: aliceblue;
    width: 170px;
    margin: 0 1rem 0 0rem;

}

.inputFilter:focus{
    outline: none;
}

.inputFilter::placeholder{
color: white;
}

@media (max-width: 600px) {
    
    .btn-filter{
        padding: 0.65rem 1rem;
    }
    
    .inputFilter{
        width: 130px;
        margin: 0.4rem;
    }

    .title-filter{
        font-size: 1.3em;
    }
}
    