img{
    height: 50px;
}

.logoHeader{
    height: 100px;
    margin: 2em;
    margin-top: 3rem;
}

.homePageRoot {
    margin-top: 110px;
}

.homePageCurrentuser{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.homePageUser{
    display: flex;
}

.homePageHeader{
    display: flex;
    align-items: center;
    top: 200;
}

.homePageHeader, .test{
    position: fixed;
    top: 80;
    width: 100%;
    height: 80px;
    background-color: white;
    z-index: 1;
    
}

.homePageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
}


.btn-currentName{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    font-size: 3ch;
    padding-left: 1rem;
    font-family: 'Roboto', sans-serif;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.btnProfile{
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 1rem;
    background-color: var(--gray-700);
    color: white;
    border-color: var(--gray-600);
}

.profil-btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btnBackToDateList{
    padding: 0.6rem;
    font-size: 0.8rem;
    background-color: var(--gray-800);
    color: var(--gray-300);
    border-color: var(--gray-700);
    margin-top: 2rem;
    border-radius: 12px;
}

@media (max-width: 600px) {

.homeTest{
    height: 80px;
}

.titleFontSize{
    font-size: 2.2em !important;
}

.logoHeader {
    height: 70px;
    margin: 0.5em;
    margin-top: 0rem;
}
.homePageRoot{
    margin-top: 120px;
}

}