.containerInfo{
    position: relative;
    width: 500px;
    max-height: 650px;
    padding: 1rem;
    margin: 2rem 1rem -1rem 1rem;
    border: 3px solid black;
    border-radius: 12px;
    background-color: var(--gray-800);
    flex-shrink: 0;
    overflow: auto;
    scrollbar-width: none;
    z-index: 0;
}


/* Responsive mobile */
@media (max-width: 600px) {

    .containerInfo{
        position: relative;
            max-width: 400px;
            min-width: 330px;
            max-height: 500px;
            background: var(--gray-800);
            border: 1px solid var(--gray-700);
            border-radius: 12px;
            flex-shrink: 0;
            overflow: auto;
            scrollbar-width: none;
            z-index: 0;
            box-shadow: var(--card-shadow)
    }
}

