.form-connect{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: auto;
}

.form-title-font{
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    color: #acacac;
    text-align: center;
}

.form-title-font-h3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #4a4a4a;
}

.form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: auto;
    padding: 2rem;
    margin: auto;
    border: 1px solid grey;
    border-radius: 12px;
    z-index: 2;
    box-shadow:
            0 10px 25px -5px rgba(59, 130, 246, 0.15),
            0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.form-input{
    background: transparent;
    border: transparent;
    margin: 1rem;
    border-bottom: 1px solid grey;
    color: #acacac  ;
}
.form-input:focus{
    outline: none;
}

.form-input::placeholder{
    color: grey;
}

.forgotPassword-input{
    text-align: center;
}

.alreadyHaveAnAccont{
    margin: 1rem;
    font-size: 1rem;
    color: #4a4a4a;
}

.formConnectAvatar{
    display: flex;
    flex-direction: column;
}
.password-input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-input-container input {
    width: 100%;
    background: transparent;
    border: transparent;
    margin: 1rem;
    border-bottom: 1px solid grey;
}

.toggle-password-visibility {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #888;
    padding: 0;
}

.toggle-password-visibility:focus {
    outline: none;
}

.error-message{
    margin: 20px;
}

.btn-link{
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.btnAcount{
    padding: .4rem;
    font-size: .8rem;
    background-color: var(--gray-700);
    color: var(--gray-300);
    border-color: var(--gray-600);
    margin-bottom: 1rem;
    border-radius: 7px;
}

.btnLog {
    padding: .6rem;
    font-size: .8rem;
    background-color: var(--gray-800);
    color: var(--gray-300);
    border-color: var(--gray-700);
    margin-top: 1rem;
    border-radius: 10px;
}

.btnLog:hover {
    background-color: var(--gray-600)
}

.form-connect-message{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btnLogin{
    display: flex;
    justify-content:space-around;
}
