.profile{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile_info{
    position: relative;
        width: 200px;
        height: auto;
        padding: 1rem;
        margin: 1.5rem;
        border: 3px solid black;
        margin-bottom: -10px;
        border-radius: 10%;
        z-index: 0;
        box-shadow: 32px 15px 15px -3px rgba(0, 0, 0, 0.1);
}

.profile_info_details{
    margin-top: 1rem;
}

.profile_info_details_btn{
    margin-top: 1rem;
    padding: 10px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        background-color: #2196f3;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
}

.bntLogout {
        margin-top: 2rem;
        padding: 10px 20px;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        background-color: #2196f3;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
}

.btnLogout .btnProfile:hover {
    background-color: #0056b3;
}