@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root {
  /* Palette de gris */
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-900);
  }

.headerApp{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: var(--gray-900);
  z-index: 1;
}

.contentCenter{
  display: flex;
  justify-content: center;
  height: calc(100vh - 100px);
}

.titleFont{
  font-family: 'Roboto', sans-serif;
  color: var(--gray-100);
}

.font{
  font-family: 'Roboto', sans-serif;
}

.fontErrorMessage{
  font-family: 'Roboto', sans-serif;
  color: red
}

.titleFontSize{
  margin-left: 1rem;
  font-size: 50px;
}

.avatar{
  height: 60px;
}

@media (max-width:600px){

}
}


